@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.fondo {
    height: 3000vh;
    width: 100vw;
    z-index: -20;
}
.logo {
    width: 600px;
    position: fixed;
    border-bottom: 20px solid blueviolet;
}
.slogan{
    font-family: 'DynaPuff', cursive;
}
.tenemos {
    position: absolute;
    font-size: 50px;
    color: white;
    top: 100px;
    right: 833px;
}
.equipo {
    position: absolute;
    font-size: 201px;
    color: white;
    top: 200px;
    right: 400px;
}
.para {
    position: absolute;
    font-size: 68px;
    color: white;
    top:  525px;
    right: 583px;
}
.crecer {
    position: absolute;
    font-size: 224px;
    color: white;
    top: 675px;
    right: 100px;
}